body{
    background: #999;
    font: normal 20pt Arial;

}
header{
color: rgb(228, 63, 12);
text-align: center;

}
section{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px black;

}
div{
    text-align: center;
    padding: 10px;
}
footer{
    color: rgb(228, 63, 12);
    text-align: center;
    font-style: italic;

}